.App {
  text-align: center;
}
.landingPage{
  height: 100vh;
  width: 100vw;
}
.nav{
  min-height: 64px;
  width:100vw;
  position: sticky;
  top:0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  background-color: #1876d2;
}

.navbutton{
  height:50px;
  width:120px;
  color:white;
  background-color: #1876d2;
  margin: 0 20px 0 20px;
}
.navbutton:hover{
  background-color: #0000000a;
  border: solid rgba(255, 255, 255, 0.172) 2px;
}
